<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="estilo.css" />
    <title>Login AdmUser</title>
</head>

<body>
    <div class="quadro1">
        <table>
            <thead>
                <tr>
                    <th>ADMUSER</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" placeholder="login" id="login" /></td>
                </tr>
                <tr>
                    <td><input type="password" placeholder="senha" id="senha" /></td>
                </tr>
                <tr>
                    <td><input type="button" value="Acessar" onclick="acessar()" /></td>
                </tr>
            </tbody>
        </table>
        <div class="msg">
            <p id="mensagem">Mensagens do Sistema</p>
        </div>
    </div>
    <script src="login.js"></script>
</body>

</html>