.titulo{
	justify-content: center;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.mainForm{
    justify-content: center;
    display: flex;
}
.mainForm label{
    padding:10px 10px 0px 10px;
    margin: 10px 10px 0px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
.mainForm input{
    padding: 10px;
    border-radius: 4px;
}

.tableResult{
    justify-content: center;
    align-items: center;
    display: flex;
}
.tableResult td{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding:10px;
    margin: 10px;
    width: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-align: right;
}
.tableResult th{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding:10px;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-align: center;
    background-color: #eee;
}
.tableResult button{
    padding:5px;
    width:80px;
}